.login {
    max-width: 1035px;
    margin: 0 auto;
    margin-top: rem(110);
    margin-bottom: rem(190);
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    display: flex;

    @media (max-width:$tablet) {
        max-width: 767px;
        margin-top: rem(70);
        margin-bottom: rem(70);

        &__logo {
            text-align: center;
        }

        &__name {
            text-align: center;
        }

        &__descr {
            text-align: center;
        }

        .form-group {
            display: block;
            margin: 0 auto;
        }
    }

    &__logo {
        font-weight: 700;
        font-size: rem(24);
        line-height: math.div(110, 65);
        text-align: center;
    }

    &__wrapper {
        background-color: #fff;
        width: 1035px;
        height: 650px;
        border-radius: 10px;
        padding: rem(70) 0 rem(100) 0;

        @media (max-width:$mobile) {
            padding: rem(35) 0 0 0;
            height: rem(600);
        }

        @media (max-width:$mobileSmall) {
            padding: rem(30) 0;
            height: max-content;
        }
    }

    p {
        margin-top: rem(40);
        text-align: center;
        color: #A6A0A0;
        font-weight: 400;

        @media (max-width:$mobileSmall) {
            margin-top: 30px;
        }
    }

    @media (max-width:$mobileSmall) {
        margin-top: 20px;
        font-size: rem(14);
    }

    a {
        color: #0666F7;
    }

    &__descr {
        margin-left: rem(51);
        color: #A6A0A0;
        font-weight: 400;

        @media (max-width:$tablet) {
            margin: 10px auto 0 auto;
        }
    }

    &__name {
        @include adaptiveValue("font-size", 24, 18);
        font-weight: 500;
        text-transform: uppercase;
        margin-top: rem(120);
        margin-left: rem(50);
        margin-bottom: rem(25);

        @media (max-width:$tablet) {
            margin: rem(100) auto 0 auto;
        }

        @media (max-width:$mobile) {
            margin: rem(60) auto 0 auto;
        }
    }

    &__btn {
        display: block;
        margin: 55px auto 0 auto;
        color: #fff;
        background: linear-gradient(180deg, rgba(12, 218, 246, 0.72) 0%, rgba(6, 102, 247, 0.64) 100%);
        box-shadow: 0px 10px 20px rgba(86, 196, 249, 0.3);
        border-radius: 15px;
        width: 400px;
        padding: rem(8) 0;

        @media (max-width:$mobile) {
            width: 255px;
            padding: rem(8) 0;
        }

        @media (max-width:$mobileSmall) {
            width: rem(200);
        }
    }

    form {
        max-width: 520px;
        display: block;
        margin: 0 auto;

        @media (max-width:$mobile) {
            max-width: 400px;
        }

        @media (max-width:$mobileSmall) {
            padding: 0 20px;
        }

        .form-group {
            // width: 100%;
            padding-left: rem(51);
            margin-top: 30px;

            div {
                width: 90%;
                display: flex;
                flex-direction: column;

                input {
                    border-bottom: 1px solid #1687F7;
                    color: #57C3F9;
                    width: 100%;
                    padding: 8px 0 4px 0;

                    font: {
                        size: rem(16);
                        weight: 500;
                    }
                }
            }
        }
    }
}

input[type="password"] {
    font-family: Verdana;
}