//====================================================================================================
.footer {
    min-height: 240px;
    padding-top: rem(30);
    background-color: #000;
    color: white;

    // .footer__container

    &__container {
        display: grid;
        // grid-template-columns: 1fr 1fr 1fr;
        grid-template-columns: repeat(auto-fit, minmax(550px, 3fr));
        column-gap: 20px;
    }

    // .footer__block

    &__block {
        width: 100%;

        // &-long {
        //     grid-column: 1/3;
        // }
    }

    // .footer__title

    &__title {
        font-size: rem(18);
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: rem(10);
    }

    &__info {
        margin-bottom: rem(10);

        p {
            font-size: rem(15);
            font-weight: 300;
            line-height: 25px;
        }
    }

    // .footer__descr

    &__descr {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: rem(10);

        &:last-child {
            @media (max-width: 1129px) {
                max-width: 720px;
            }

            @media (max-width:$tablet) {
                gap: 80px;
            }

            @media (max-width:$mobile) {
                gap: 20px;
            }

            @media (max-width:600px) {
                justify-content: flex-start;
                gap: 60px;
            }
        }

        div {
            &:first-child {
                margin: 0;
            }
        }


        p {
            @media (max-width: $tablet) {
                display: flex;
                flex-direction: column;
            }

            font-size: rem(15);
            font-weight: 300;
            line-height: 25px;
        }

        span {
            font-weight: 500;
            margin: 0px rem(10) 0px 0px;
        }
    }

    &__policy {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;

        @media (max-width: $tablet) {
            justify-content: flex-start;
            gap: 145px;
        }

        @media (max-width:$mobile) {
            justify-content: flex-start;
            gap: 80px;
        }
    }

    &__rule {
        font-weight: 300;

        &:first-child {
            margin-bottom: 20px;
        }
    }

}

//====================================================================================================